/**
  * Color
  * Border Color
  * Background Color  
*/

/* Color
-------------------------------------------------------------- */
a:hover,
#mainnav ul li a:hover, 
#mainnav > ul > li.home > a,
.top .top-navigator ul li a:hover,
.flat-information li:before,
.flat-information li a:hover,
.top .language:before,
.top .language li.current:before,
.about-us .title-about-us,
.flat-contact-form.fillter-courses .all-categories button,
.title-section .title,
.flat-team.style1 .descritption blockquote:before,
ul.flat-socials li a i,
.flat-countdown-event .title-countdown,
.flat-countdown-event .circle .numb,
.flat-countdown-event .circle .text,
.flat-testimonials-slider #flat-testimonials-flexslider:before,
#video-controls a:hover,
.flat-button,
.flat-event-slide .flex-direction-nav a i,
.tp-caption .title-slide, .tp-caption.title-slide,
.flat-courses .courses-content .courses-topic:hover,
.tp-leftarrow.square:before, .tp-rightarrow.square:before,
.entry .title-post a:hover,
.entry .read-more:hover,
.widget.widget_mc4wp input[type="submit"]:hover,
.flat-iconbox .content .title a:hover,
.courses-meta li a:hover,
.review-rating li a,
.flat-courses .courses-price p,
.flat-iconbox.style1 .icon-image span,
.flat-iconbox .content .title a:hover,
.flat-testimonials-flex ul.slides li .say:before,
.flat-accordion .toggle-title.active,
.wrap-contactform-home3 button:hover,
.flat-iconbox.center.style2 .icon-image span,
.flat-iconbox.center.style2 .content .title a:hover,
.flat-iconbox.center.style4 .icon-image span,
.flat-iconbox.center.style3 .icon-image span,
.flat-list .content .title a:hover,
.course-list .list-content .courses-topic a:hover,
.course-list .price p,
.course-single .course-entry > ul > li a.name-teacher,
.course-widget-price ul li i,
.course-widget-categories ul li a:hover,
.course-widget-featured .content .price,
.curriculum-section ul.curriculum li.section .section-title,
.curriculum-section ul li ul.section-content li.course-lesson i,
.course-author-post .author .position h4 a,
.course-rating .average-rating .rating-box .average-value,
.flat-courses .courses-content p span,
.content-box .title a,
.flat-information-box .icon i,
.blog-fullwidth .entry .entry-title a:hover,
.blog-pagination .flat-pagination li.active,
.blog-pagination .flat-pagination li a:hover,
.blog-pagination .flat-pagination li.prev a:hover,
.blog-pagination .flat-pagination li.next a:hover,
.author-post .author .position h4 a,
.comment-post .comment .comment-detail .comment-meta .comment-date a:hover,
.widget.widget-recent-post.style1 ul li .text a:hover,
.flat-button.bg-theme:before,
.flat-button.bg-theme:hover, 
.flat-button.bg-theme:focus, 
.flat-button.bg-theme:active,
.header .header-wrap .show-search i:hover,
.flat-login .flat-contact-form.border-white input[type="text"],
.flat-login .create-account .link-submit-wrap a {
	color: #61b1bc;
}

/* Border Color
-------------------------------------------------------------- */
.flat-button,
.wrap-form-event .flat-contact-form.border-radius input:focus,
.wrap-contactform-home1 .flat-contact-form.border-radius select:focus, 
.wrap-contactform-home1 .flat-contact-form.border-radius input:focus,
.wrap-contactform-home1 .flat-contact-form.border-radius textarea:focus,

.wrap-contactform-home3 .flat-contact-form.border-radius select:focus, 
.wrap-contactform-home3 .flat-contact-form.border-radius input:focus,
.wrap-contactform-home3 .flat-contact-form.border-radius textarea:focus,
.flat-accordion .toggle-title.active,
.blog-pagination .flat-pagination li.active,
.blog-pagination .flat-pagination li a:hover,
.header .header-wrap .show-search i:hover,
.flat-login .create-account .link-submit-wrap,
.flat-login .create-account .link-submit-wrap:hover {
	border-color: #61b1bc ;
}

/* Background Color
-------------------------------------------------------------- */
.tp-leftarrow.square:hover, 
.tp-rightarrow.square:hover,
.flat-row .overlay,
.flat-contact-form.fillter-courses .all-categories button:hover,
.flat-courses .courses-thumbnail:before,
.flat-row.bg-color-themes,
.go-top,
button, input[type="button"], 
input[type="reset"], 
input[type="submit"],
#flat-eventdate-carousel ul > li.flex-active-slide:before,
.flat-event-slide .flex-direction-nav a:hover,
.flat-button.style1:before,
.flat-button,
#flat-eventdate-carousel ul > li .event-date:after,
#flat-eventdate-carousel ul > li.flex-active-slide .event-date:after,
.switcher-container h2 a,
.title-section.style2 .desc:before,
.about-us .desc ul li:before,
.flex-control-paging li a.flex-active,
.flex-control-paging li a:hover,
.flat-iconbox .hi-icon-effect-3 .hi-icon:after,
.flat-iconbox.center.style3:hover,
.course-widget-price .price,
.course-widget-price .bt-course,
.course-single .course-entry .content-desc ul li:before,
.curriculum-section ul li ul.section-content li.course-lesson .lesson-preview,
.course-rating .detailed-rating .detailed .stars > div.bar .full-bar > div,
.flat-portfolio.v1 .flex-control-paging li a.flex-active,
.page-title .overlay,
.blog-single ul.flat-socials li a:hover, 
.blog-single ul.flat-socials li a:hover i,
.blog-single .entry .main-post .entry-post ul li:before,
.sidebar .widget .widget-title:before,
.flat-button.bg-theme:before,
.header .header-wrap:after,
.header .header-wrap .show-search i,
.flat-login .create-account .link-submit-wrap:hover,
.widget_search .search-form .search-submit,
.btn-menu:before, .btn-menu:after, .btn-menu span {
	background-color: #61b1bc;
}
